<%= simple_form_for @image, :html => {:multipart => true} do |f| %>
    <%=f.error_notification%>
    <%if !current_page?(:controller => 'images', :action => 'new')  %>
        <p>
          <%= f.input :title, hint: '(Optional)'%>
        </p>
        <p>
          <label>Filename</label>  <%= @image.original_name%> </p>
        </p>
        <p>
          <label>Location</label>  <%= @image.file_url%>
        </p>
        <p>
          <label>Batch</label>  <%= @image.batch%> </p>
        </p>
        <p>
          <%= f.input :batch%>
        </p>
        <p>
          <%= f.input :file, :as => :file  %>
        </p>
    <%else%>
        <p>
          <%= f.input :title, hint: '(Optional)'%>
        </p>
        <p>
          <%= f.input :batch%>
        </p>
        <p>
          <%= f.input :file, :as => :file  %>
        </p>
    <%end%>

    <div class="form-actions">
      <%= f.button :submit, "Upload Image", class: "my-submit" %>
      <div id="uploader" style="display:none;">
        UPLOADING <%= image_tag "spinner.gif"%>
      </div>
    </div>
<% end %>

