<% title "Upload Image" %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div id="img-preview">
        <p>Preview</p>
      </div>
    </div>
    <div class="col-md-9">
      <%= simple_form_for @image, :html => {:multipart => true} do |f| %>
          <%=f.error_notification%>
              <p>
                <%= f.input :title, hint: '(Optional)'%>
              </p>
              <p>
                <%= f.input :batch%>
              </p>
              <p>
                <%= f.input :file, :as => :file  %>
              </p>
          <div class="form-actions">
            <input id="my-submit" class="btn" name="commit" type="submit" value="Upload Image">
            <div id="uploader" style="display:none;">
              UPLOADING <%= image_tag "spinner.gif"%>
            </div>
          </div>
      <% end %>
      <p><%= link_to "Back to Images", images_path %></p>
    </div>
  </div>
</div>

<%= render 'bootstrap_modal' %>